/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;     background-color: lightgrey;}

.title{
    background-color: darkorange;
    padding: 30px;
    text-align: center;
    color: black;
}

.container{
    margin: 0 20%;
  }
